<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}天天吃饱饭{% endblock %}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">天天吃饱饭</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {% if 'user_id' in session %}
                        <a class="nav-link" href="{{ url_for('get_statistics.indicator_description') }}">指标说明</a>
                        <a class="nav-link" href="{{ url_for('get_statistics_all.crypto_market_overview') }}">仙人之路EMA22</a>
                        <a class="nav-link" href="{{ url_for('altcoin_season.altcoin_season_analysis') }}">山寨季趋势</a>
                        <a class="nav-link" href="{{ url_for('get_statistics_with_ai.get_statistics_with_ai_page') }}">AI解析</a>


                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('order_management.order_management') }}">下单管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pending_order.pending_orders') }}">限价挂单管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('take_profit_stop_loss.take_profit_stop_loss') }}">止盈止损管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_statistics.get_statistics_page') }}">超级分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_klines.get_klines') }}">获取数据测试</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_futures_symbols.futures_symbols') }}">永续</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('position_management.position_management') }}">仓位</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('binance.list_binance_keys') }}">币安密钥</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.reset_password') }}">重置密码</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">登出</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>
